#items {
	display: flex;
	flex-direction: row;
	flex: 33%;
	justify-content: space-around;
}
img {
	border: solid 1px darkgrey;
	width: 300px;
	height: 300px;
}

p {
	text-align: center;
	font-weight: bold;
}
